---
// index.astro
import MainLayout from '../layouts/MainLayout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import WhyUs from '../components/Whyus.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<MainLayout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Services />
    <WhyUs />
    <Contact />
  </main>
  <Footer />
</MainLayout>